body, html {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

html, body, #app, .main-layout {
    height: 100%;
    font-family: "Arial";
}

body {
    background-color: $gray-1;
}

.container {
    margin: 2% auto 0 auto;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}
//Input
.el-input__inner:focus {
    border-color: #38c172 !important;
}
.el-textarea__inner:focus {
    border-color: #38c172 !important;
}
//Dropdown
.el-select-dropdown__item.selected {
    color: lighten($purple, 30) !important;
}

.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: lighten($purple, 50) !important;
    color: lighten($purple, 10) !important;
}
//tag
.el-tag--dark {
     background-color: $green !important;
     border-color: $green !important;
     color: #fff;
}
//el-upload
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: $purple !important;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px !important;
    text-align: center;
}

.avatar {
    width: 178px;
    height: 178px;
    display: block;
}
//flex-container
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-content: space-around;
}
.grid-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-content: space-around;
    text-align: center;
    padding-left: 30px;
    padding-top: 80px;
}

.grid-item {
    padding: 5px;
    width: 23%;
}
@media(max-width: 1263px) {
    .grid-item {
        width: 25%;
    }
}
@media(max-width: 959px) {
    .grid-item {
        width: auto;
        max-width: 25%;
        flex-grow: 1;
        min-width: 200px;
    }
}
@media(max-width: 840px) {
    .grid-item {
        max-width: 33.33%;
    }
}

@media(max-width: 640px) {
    .grid-item {
        max-width: 50%;
    }
}

@media(max-width: 640px) {
    .grid-item {
        max-width: 100%;
    }
}

// Buttons
.el-button {
    &.el-button--warning {
        background-color: $warning !important;
        border-color: $warning !important;
        color: white !important;

        &:hover {
            background-color: lighten($warning, 10) !important;
            border-color: lighten($warning, 10) !important;
            color: white !important;
        }

        &:focus {
            background-color: lighten($warning, 10) !important;
            border-color: lighten($warning, 10) !important;
            color: white !important;
        }
    }

    &.el-button--primary {
        background: #38c172;
        border-color: #38c172;
        color: white;

        &:hover {
            background-color: lighten(#38c172, 10);
            border-color: lighten(#38c172, 10);
            color: white;
        }

        &:focus {
            background-color: lighten(#38c172, 10);
            border-color: lighten(#38c172, 10);
            color: white;
        }
    }

    &.el-button--info {
        background: $gray_2;
        border-color: $gray_2;
        color: $gray-5;

        &:hover {
            background-color: lighten($gray_2, 10);
            border-color: lighten($gray_2, 10);
            color: $gray-5;
        }

        &:focus {
            background-color: lighten($gray_2, 10);
            border-color: lighten($gray_2, 10);
            color: $gray-5;
        }
    }

    &.el-button--danger {
        background: $error;
        border-color: $error;
        color: white;

        &:hover {
            background-color: lighten($error, 10);
            border-color: lighten($error, 10);
            color: white;
        }

        &:focus {
            background-color: lighten($error, 10);
            border-color: lighten($error, 10);
            color: white;
        }
    }

}
.el-header {
    background-color: black;
    line-height: 60px;
}
.login-header {
    text-align: center;
}
.page-title {
    font-family: Dolce-Vita;
    font-size: 50px;
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}
.header-right {
    position: absolute !important;
    top: 0;
    right: 0;
    height: 60px;
    width: auto;

}
