<template>
    <layout>
        <div>
            <el-row>
                <el-col :span="12">
                    <h1>Productos</h1>
                </el-col>
                <el-col :span="12" style="text-align: right;">
                    <inertia-link :href="'/product/create'">
                        <el-button type="primary">Nuevo</el-button>
                    </inertia-link>
                </el-col>
            </el-row>

            <el-divider></el-divider>

            <el-table
                :data="products"
                style="width: 100%">
                <el-table-column
                    label="Imagen">
                    <template slot-scope="scope">
                        <span v-if="scope.row.image">
                            <img width="120" height="80" :src="scope.row.image"/>
                        </span>
                        <span v-else>
                            <i style="margin-left: 40px" class="fas fa-image fa-3x"></i>
                        </span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="name"
                    label="Nombre">
                </el-table-column>
                <el-table-column
                    prop="description"
                    label="Descripcion">
                </el-table-column>
                <el-table-column
                    label="Marca">
                    <template slot-scope="scope">
                        {{scope.row.brand.name}}
                    </template>
                </el-table-column>
                <el-table-column
                    label="Categories">
                    <template slot-scope="scope">
                        <span v-for="cat in scope.row.categories">
                            <el-tag style="margin-right: 5px" effect="dark">{{cat.name}}</el-tag>
                        </span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="model"
                    label="Modelo">
                </el-table-column>

                <el-table-column
                    label="Operaciones">
                    <template slot-scope="scope">

                        <inertia-link style="margin-right: 10px" :href="'/product/' + scope.row.id">
                            <el-button icon="fas fa-eye" type="success" size="mini"></el-button>
                        </inertia-link>

                        <inertia-link style="margin-right: 10px" :href="'/product/' + scope.row.id + '/edit'">
                            <el-button icon="fas fa-pencil-alt" type="warning" size="mini"></el-button>
                        </inertia-link>

                        <el-button icon="fas fa-trash" size="mini" type="danger"
                                   @click="remove(scope.row.id)"></el-button>
                    </template>
                </el-table-column>
            </el-table>



        </div>
    </layout>
</template>
<script>
    import Layout from "../../Shared/Layout";
    import _ from 'lodash';

    export default {
        components: {
            Layout,
        },
        data() {
            return {
                baseUrl: '/product',
                products: [],
            }
        },
        methods: {
            remove($id) {
                this.$confirm('Esta seguro que quiere eliminar a este Producto?', 'Advertencia', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancelar',
                    cancelButtonClass: 'el-button--info',
                    type: 'warning'
                }).then(() => {
                    this.$inertia.delete(this.baseUrl + '/' + $id);
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Eliminar cancelado'
                    });
                });
            },
        },
        mounted() {
            if (this.$page.products) {
                this.products = this.$page.products;
            }
        }
    }
</script>


