<template>
    <Layout>
        <div>
            <el-row>
                <span style="color: orange; font-size: 20px "><strong>{{product.brand.name}}</strong></span>
                <span style="font-size: 16px">- {{product.name}}</span>
                <span></span>
            </el-row>
            <el-row>
                <span><strong>Modelo: </strong> {{product.model}} </span>
            </el-row>

            <el-divider></el-divider>

            <el-row :gutter="20">
                <el-col :span="12">
                    <el-image style="margin-top: 5px; height: 400px" v-if="product.image" :src="product.image" fit="scale-down"></el-image>
                    <div v-else style="text-aling: center">
                        <el-image style="margin-top: 5px; height: 400px" fit="scale-down"
                                  src="https://thumbs.dreamstime.com/b/no-image-available-icon-flat-vector-no-image-available-icon-flat-vector-illustration-132482953.jpg"></el-image>
                    </div>
                </el-col>

                <el-col :span="12">
                    <el-row>
                        <el-col :span="8">
                            <h3>Marca</h3>
                        </el-col>
                        <el-col :span="16">
                            {{product.brand.name}}
                        </el-col>
                    </el-row>
                    <el-divider></el-divider>

                    <el-row>
                        <el-col :span="8">
                            <h3>Marca</h3>
                        </el-col>
                        <el-col :span="16">
                            {{product.name}}
                        </el-col>
                    </el-row>
                    <el-divider></el-divider>

                    <el-row>
                        <el-col :span="8">
                            <h3>Modelo</h3>
                        </el-col>
                        <el-col :span="16">
                            {{product.model}}
                        </el-col>
                    </el-row>
                    <el-divider></el-divider>

                    <el-row>
                        <el-col :span="8">
                            <h3>Precio</h3>
                        </el-col>
                        <el-col :span="16">
                            <strong>$ </strong> {{product.price}}
                        </el-col>
                    </el-row>
                    <el-divider></el-divider>

                    <el-row>
                        <el-col :span="8">
                            <h3>Categorias</h3>
                        </el-col>
                        <el-col :span="16">
                            <span v-for="cat in product.categories">
                                <el-tag style="margin-right: 5px" effect="dark">{{cat.name}}</el-tag>
                            </span>
                        </el-col>
                    </el-row>
                    <el-divider></el-divider>

                    <el-row style="text-aling: right">
                        <el-button type="success" @click="addToCart(product.id)">Agregar al carrito</el-button>
                    </el-row>
                </el-col>
            </el-row>
        </div>

    </Layout>
</template>
<script>
    import Layout from "../../Shared/Layout";
    export default {
        components: {
            Layout
        },
        data() {
            return {
               product: {},
            }
        },
        methods: {
            addToCart(id) {
                this.$confirm('Agregar este producto a su carrito?', {
                    confirmButtonText: 'Ok',
                    cancelButtonText: 'Cancelar',
                    cancelButtonClass: 'el-button--info',
                    type: 'info'
                }).then(() => {
                    this.$inertia.post('/cart/' + id, {
                        product_id: id
                    }).then(() => {
                        this.$message({
                            type: 'success',
                            message: 'Agregado al carrito'
                        })
                    })
                })
            }

        },
        mounted() {
            if (this.$page.product) {
                this.product = this.$page.product;
            }
        }
    }
</script>
