<template>
    <Layout>
        <div>
            <h1>Dash</h1>

            <div class="grid-container">
                <div class="grid-item" v-for="(p, index) in products" :key="index">
                    <product-component :product="p"></product-component>
                </div>
            </div>



        </div>
    </Layout>

</template>
<script>
    import Layout from "../../Shared/Layout";
    import ProductComponent from "../../components/ProductComponent";

    export default {
        components: {
            Layout,
            ProductComponent
        },
        data() {
            return {
                products: []
            }
        },
        mounted() {
            if (this.$page.products) {
                this.products = this.$page.products;
            }

        }
    }
</script>
